{% extends 'events/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p id="text">{{ event.text }}</p>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">
              <a href="{% url 'edit_event' pk=event.pk %}">
            <span class="glyphicon glyphicon-pencil"></span></a></button>
          <button type="button" class="btn btn-default">
              <a href="{% url 'finish_event' pk=event.pk %}">Done</a></button>
            <button type="button" class="btn btn-default">
              <a href="{% url 'remove_event' pk=event.pk %}">
            <span class="glyphicon glyphicon-remove"></span></a></button>
        </div>
    {% endif %}
{% endblock %}