{% extends 'events/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {{ event.text }}
        <p>
            <a class="btn btn-default" href="{% url 'edit_event' event_id=event.pk %}">
            <span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'remove_event' event_id=event.pk %}">
            <span class="glyphicon glyphicon-remove"></span></a>
        <a class="btn btn-default" href="{% url 'finish_event' event_id=event.pk %}">Done</a>
        </p>
    {% endif %}
{% endblock %}