{% extends 'events/base.html' %}
{% load render_bundle from webpack_loader %}


{% block content %}
    {% if user.is_authenticated %}
        <p class="new">
            <a class="btn btn-default" href="{% url 'create_event' %}">
            <span>树立新的 Flag</span></a>
        </p>

        <div class="event-list">
            <ol>
                {% for event in events %}
                <li>
                    <a class="title" href="{% url 'detail' pk=event.pk %}"><span>{{ event.title }}</span></a>
                    <a class="btn btn-default" href="{% url 'remove_event' pk=event.pk %}">
                    <span class="glyphicon glyphicon-remove"></span></a>
                </li>
                {% endfor %}
            </ol>
        </div>

        <div id="events">
            {% render_bundle 'main' %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}