* {
    margin: 0;
    padding: 0;
}

.flag-header, .content {
    text-align: center;
}

.flag-header h2 {
    background-color: #333;
    margin: 0;
    padding: 2%;
    color: rgba(255, 255, 255, 1);
}

/* 列表区 */
ol {
    padding: 0 35%;
}

li {
    margin-bottom: 1.5em;
}

.title, .title:hover {
    color: #333;
}

.event-list {
    margin: 4% 0;
}

.event-list .btn {
    position: absolute;
    right: 30%;
}

.title {
    font-size: 1.5em;
}


/* 内容区 */
#text {
    margin: 10% 0;
}

.new {
    margin: 4% 0;
}

.btn-group a, .btn-group a:hover {
    color: #333;
}